@use "./scss/abstract" as *;
@use "./scss/element" as *;
@use "./scss/component" as *;
@use "./scss/page" as *;



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: $font-size-base;
}

#root{
    width:100%;
    min-height:100vh;
}



