@use "../abstract/" as *;

#page-header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: $paddingV-container-level1 $paddingH-container-level1;
    nav{
        width: fit-content;
        ul{
            display: flex;
            gap: 20px;
            list-style: none;
        }
        a{
            transition: color linear .3s;
        }
        a:hover{
            color:$color-hover;
            transform: scale(1.1);
        }
    }
}

#connection-pannel{
    margin-left: auto;
    form{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5rem;
        }
    }
    .logout-spacer{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }
}